<a href="https://colab.research.google.com/github/Hugo-Mesquita-Dev/python/blob/main/python_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python: Conhecendo a Linguagem

# O que é Programação?

## O que é um programa de computador?
## O que é um algoritmo?

# Um pouco mais Sobre o Python

## O que programar? (aplicações)
## Aonde programar? (ambientes)
## Como instalar o interpretador?

# A linguagem ("Hello World")

In [ ]:
print("Hello")

Hello

#Tipos de Dados básicos

In [ ]:
print(type(5)) # O tipo do número 2 é int (número inteiro)"
print(type(2.5)) # O tipo do número 2.5 é float (número decimal)
print(type(1.5+1.5j)) # O tipo do número 1 + 1j (j é o número imaginário) é complex
print(type("O termo termo esta entre aspas")) # Sequencia de caracteres para armazenar texto
print(type(True)) # tipo booleano para Verdadeiro (True) e Falso (False)

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

## Variáveis

Uma variável não pode ter o nome comçado por números, eveitmem palavras-chave da linaguagem e caracateres especiais

In [ ]:
# nome_da_variavel = valor
altura_do_guilherme =  1.80 
texto = "Hello world"
chovendo = True
sabor_bolo = "de Fubá"
sabao = 1

In [ ]:
print(altura_do_guilherme)

1.8

## Operações básicas (e nem tão básicas)

### Com dados numéricos

In [ ]:
print(1 + 2) # o '+' é a soma usual
print(10.5 - 1.5) # o '-' é a subtração usual
print(2 * -2) # o '*' é a multiplicação usual
print(9/ 3) # o '/' é a divisão usual

print(4 ** -0.15613216) # o '**' é a exponenciação
print( 10// 3) # o '//' é o quociente da divisão inteira
print(10 % 3) # o '%' é o resto da divisão inteiro

3
9.0
-4
3.0
0.8053767223171078
3
1

### Com dados texto

In [ ]:
turno = "tarde"
resultado = "Boa " + turno # o '+' é a concatenação de strings

In [ ]:
 '2' * 3# o '*' repete a string x vezes onde x é um número inteiro

'222'

### Com booleanos

In [ ]:
False - 10 # converte o True para 1 e o False para 0 e faz numericamente

-10

## Conversão de tipos de Dados

In [ ]:
# conversão de tipos de Dados

string = "10.5"
numero = float(string)
numero + 10

In [ ]:
10 + float('10')

20.0

## Exercícios

In [ ]:
## Escreva uma sequência de operações em python que converta uma medida em polegadas para centimetros -> 1pol = 2.54cm

In [ ]:
# transforma centimetros em polegadas

In [ ]:
### Escreva uma sequência de operações em python que converta um valor em real para dólar -> 1 dol = 4.83 real

In [ ]:
## Escreva uma sequência de operações em python que converta um valor em dólar para real

In [ ]:
## Exercicio Conversão de Celsius para Fahrenheit
##  C * 9/5  + 32 = F 

# C = 0;   F = 32
# C 100; F = 212
# C = -10; F = 14

temperatura_celsius = float(input("Informe a temperatura em Celsius: "))
temperatura_fahrenheit = 32 + temperatura_celsius * 9 / 5 
print(f'{temperatura_celsius}ºC é equivalente a {temperatura_fahrenheit}ºF')

Informe a temperatura em Celsius: 100
A temperatura equivalente é: 212.0ºF

# Desvios condicionais

In [ ]:
# Operadores de Comparação 

print(f"3 == 3: {3 == 3}") # '==' representa igualdade 
print('"Texto" == "texto":', "texto" == "Texto")
print('"2.34" == 2.34:', "2.34" == 2.34)
variavel = 6
print("2*variavel == 10:", 2*variavel == 10)

print("2 > 3:", 2 > 3) # '>' verifica se o número a esquerda do símbolo é maior que o da direita
print("2 > 2:", 2 > 2)
print("2 < 3:", 2 < 3) # '<' verifica se o número a esquerda do símbolo é menor que o da direita
print("2 < 2:", 2 < 2)
print("Abacate < abacate:", "Abacate" < "abacate")

print("2 >= 3:", 2 >= 3) # '>=' verifica se o número a esquerda do símbolo é maior ou igual que o da direita
print("2 >= 2:", 2 >= 2)
print("2 <= 3:", 2 <= 3) # '<=' verifica se o número a esquerda do símbolo é menor ou igual que o da direita
print("2 <= 2:", 2 <= 2)
print("abacaxi <= abacate:", "abacaxi" <= "abacate")

print("3 != 2:", 3 != 2) # '!=' verifica se os números são diferentes 
print("2 != 2:", 2 != 2) # '!=' verifica se os números são diferentes 
print('"Texto" != "texto":', "Texto" != "texto")

if condicao:
  codigo para executar quando a consiçãão for verdadeira
  mais codigo
  mais codigo
outros códigos que não dependem da condição

In [ ]:
comando = input("Digite:\n 'p' para converter de polegadas para centimetros\n 'c' caso contrario\n 's' para sair ")
if comando == 'p' or comando == 'P':
  polegadas = float(input("Digite a medida em polegadas: "))
  centimetros = polegadas * 2.54
  print(f"A conversão deu {centimetros:.3f} centimetros")
elif comando == 'c': 
  centimetros = float(input("Digite a medida em centimetros: "))
  polegadas = centimetros / 2.54
  print(f"A conversão deu {polegadas:.3f} polegadas")
elif comando == "s":
  pass
else:
  print("Comando inválido!")

In [ ]:
#

# a*x² + b*x + c = 0
# x² - x + 1 = 0 -> delta = -3 < 0
# x² +2x + 1 = 0 -> delta = 0
# x^2 - 4x = 0 - > delta = 16 > 0

In [ ]:
##  Carro flex 

## se o valor etanol for maior que 70% do valor do valor gasolina -> gasolina
## se o valor do etanol for menor ou igual a 70% do valor gasolina -> etanol


#gasolina, etanol = 4, 1 # etanol
#gasolina, etanol = 4, 3 # gasolina
#gasolina, etanol = 10, 7 # etanol
#gasolina, etanol = 10, 7.0000000001 #gasolina

### Exercicio
dada a tabela o IR, faça um programa que recebe o salário de um trabalhador e devolve o valor do imposto.

|Base de cálculo (R$)	|Alíquota (%)|
--------------------- |-------------|
|Abaixo de 1.903,99    | 0%  |
|De 1.903,99 até 2.826,65|	7,5%	|
|De 2.826,66 até 3.751,05|	15%	|
|De 3.751,06 até 4.664,68|	22,5%	|
|Acima de 4.664,68|	27,5%|

# Laços de repetição

## While (enquanto)

while condição:
  executa código para a condição verdadeira

In [ ]:
numero = 5
while numero < 9:
  print(numero)
  numero = numero + 1

In [ ]:
# Faça um programa em python que lê palavras digitadas pelo usuário até que ele digite "sair". 
# Depois informe quantas palavras ela digitou

In [ ]:
# fazer um código python que calcula x^y

In [ ]:
## Le números do usuário até ele digitar o numero -1 (ok)
## calcula a média dos números digitados

In [ ]:
## Calcule o fatorial de um número

# Coleções de dados

### Listas

In [ ]:
lista = ["ola", "alo", 1, 1.34, True]

In [ ]:
lista

In [ ]:
# acessar um elemento da lista
lista[4]# em uma lista com N elementos os indices vão de 0 até N-1

In [ ]:
len(lista) # devolve o numero de elementos em uma coleção

In [ ]:
lista[1] = False 
print(lista)

In [ ]:
lista.append("novo elemento")

In [ ]:
lista.insert(3, 10)

In [ ]:
lista.index(1.34)

In [ ]:
deletado = lista.pop(3)
print(lista)
print(deletado)

In [ ]:
del(lista[2])

In [ ]:
lista2 = []
print(lista2)

In [ ]:
lista2.append("hello")
print(lista2)

In [ ]:
## Modifique o algoritmo que calculava a média dos números
## para encontrar a mediana dos valores
## dica: Use listas par guardar todos os valores informados

# como calcular a mediana
# ordenamos os valores do menos para o maior
# se tem núúmeo impar de valores a mediana é o valor do meio
#[ 5 , 1,2] -> [1,2,5] -> 2
# Se tem um numero par de valores, a mediana é a media dos 2 centrais
#[ 5 , 1, 4,2] -> [1,2,4,5]- > 3 = (2+4)/2


### For (para cada)

In [ ]:
for num in [1,4,5,6,7]:
  print(num)

## Dicionários

In [ ]:
nome = 'asdrubal'
dicionario = {nome: 'Guilherme', 'matricula': 123456, 'cpf': 0 , 1: ['isso', 'é', 'uma lista']}
lista = ['Guilherme',123456, 0,0,0,0,0,0,0,0]

In [ ]:
lista[0]

In [ ]:
dicionario[0]

In [ ]:
dicionario['altura'] = 1.8

In [ ]:
len(dicionario)

In [ ]:
dicionario

In [ ]:
dicionario['rg']

In [ ]:
dicionario['notas'] = {'matematica': [5,6.5,7], 'historia': [1,2]}

In [ ]:
dicionario

In [ ]:
dicionario['notas']['historia'][1]

In [ ]:
alunos = [{'nome': 'Guilherme', 'notas': {'historia': [1, 3, 8] }},{'aluno': 'Gabriel'} ,{'aluno': 'Bianca'}]

In [ ]:
if 'ingles' in alunos[0]['notas']:
  print("ja tem a nota")

In [ ]:
print(dicionario)

In [ ]:
for chave, valor in dicionario.items():
  print(chave, valor)

## Tuplas

In [ ]:
t = (1,2, 3)

In [ ]:
t[0] = 10

# Funções

In [ ]:
def diz_ola(nome):
  print('Olá')
  print('tudo bem?')
  print(nome)