# Banco de Dados

* Componentes
  * Base de dados
  * Sistema Gerenciador de Bando de Dados (SGDB)
  * Linguagem de Manipulação
    *  Structered Query Language (SQL)
  * Programas adicionais

* Arquitetura
  * Cliente-Servidor

## Modelo Relacional
  
| nome | tipo | level | capturado em|
|---- |----|-----|----|
|Pikachu| Elétrico| 5| 08 jun 2021|
|Bulbassauro| Grama| 10| 10 fev 1990|
|Squirtle| Água| 12| 23 out 2015|

Tabela ou Relação

Linhas, Intâncias, Entradas, Registros, Tupla

Colunas, atributos, características

## Implementação em SQL

* dialetos: MySQL, PostreSQL, MariaDB, Oracle etc

* MySQL online: https://paiza.io/en/projects/new?language=mysql
* PostgreSQL as a Service: https://www.elephantsql.com/
* Sqlite e PostgreSQL: https://sqliteonline.com/

#### Criando um banco de dados dentro do SGDB
* MySQL
      CREATE DATABASE [IF NOT EXISTS] db_name
*PostgreSQL
      CREATE DATABASE name
*SQLite
      # Não tem (nesse formato)

### Linguagem de Descrição de Dados (DDL)


#### CREATE (Criar)
      CREATE [TEMPORARY] TABLE [IF NOT EXISTS] tbl_name
      [column_name column_type column_constraint, ...]
      [table_constraints, ...]

[MySQL types](https://dev.mysql.com/doc/refman/8.0/en/data-types.html) 
\- [PostrgreSQL types](https://www.postgresql.org/docs/9.5/datatype.html)
\- [SQLite types](https://www.sqlite.org/datatype3.html)

* Most used Constraints:

#### ALTER (alterar)
      ALTER TABLE tbl_name [alter_option, ...]

#### DROP (descartar)
      DROP TABLE [ IF EXISTS ] tbl_name [, ...]

### Linguagem de Manipulação de Dados (DML)


#### INSERT (inserir)

      INSERT  INTO tbl_name[(col_name [, col_name] ...)]
      VALUES (value_list) [, (value_list)] ...```


#### UPDATE (atualizar)
      UPDATE table_reference
      SET assignment_list
      [WHERE where_condition]

#### DELETE (deletar) 
      DELETE FROM tbl_name [WHERE where_condition]

### Linguagem de Consulta de Dados (DQL)


#### SELECT (SELECIONAR)

      SELECT [ALL | ISTINCT | DISTINCTROW ]
      select_expr [, select_expr] ...
      [FROM table_references
      [WHERE where_condition]
      [GROUP BY {col_name | expr | position}, ...]
      [HAVING where_condition]
      [ORDER BY {col_name | expr | position} [ASC | DESC], ...]
      [LIMIT {[offset,] row_count | row_count OFFSET offset}]

#### JOINS

### Linguagem de Transação de Dados (DTL)
### Linguagem de Controle de Dados (DCL)

# Integração com Python

In [ ]:
import sqlite3

In [ ]:
con = sqlite3.connect("aula.bd")

In [ ]:
con.execute("""CREATE TABLE Pokemon(
  id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
  nome VARCHAR(20) NOT NULL,
  tipo VARCHAR(15),
  level INTEGER DEFAULT 1,
  capturado_em DATE
  )""")

In [ ]:
pokemon = ['Pikachu', 'Metapod', 'Jynx']

for poke in pokemon:
  con.execute(f"INSERT INTO pokemon(nome) VALUES ('{poke}')")
con.commit()

In [ ]:
rs = con.execute("SELECT * FROM pokemon")

In [ ]:
resultados = list(rs)

[(1, 'Pikachu', None, 1, None),
 (2, 'Metapod', None, 1, None),
 (3, 'Jynx', None, 1, None)]

In [ ]:
for result in rs:
  print(result)

(1, 'Pikachu', None, 1, None)
(2, 'Metapod', None, 1, None)
(3, 'Jynx', None, 1, None)

In [ ]:
rs.fetchone()

(1, 'Pikachu', None, 1, None)

In [ ]:
rs.fetchone()

(2, 'Metapod', None, 1, None)

## Psycopg2

In [ ]:
!pip install psycopg2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.7/dist-packages (2.9.3)

In [ ]:
import psycopg2

In [ ]:
#protocolo://usuario:senha@host:[porta]/banco
url = "postgresql://esyslokz:RJjtyfSp-yV-3RfvP1yTLyXyDeLMC7_p@kesavan.db.elephantsql.com/esyslokz"
con = psycopg2.connect(url)
cur = con.cursor()

In [ ]:
cur.execute("""CREATE TABLE Treinadores (
   id SERIAL PRIMARY KEY,
   nome VARCHAR(20) not NULL,
   cidade VARCHAR(20)
 );""")

In [ ]:
cur.execute("""INSERT INTO Treinadores(nome, cidade) VALUES
('Ash', 'Pallet'),
('Feulo', 'SP');
""")

In [ ]:
con.commit()

In [ ]:
cur.execute("SELECT * FROM Treinadores;")
rs = cur.fetchall()

In [ ]:
print(rs), type(rs)

[(1, 'Ash', 'Pallet'), (2, 'Feulo', 'SP')]

(None, list)

# SQLAlchemy

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text

In [ ]:
# Cria a engine para o banco de dados

#eng = create_engine("sqlite:///cars.db")
#eng_mysql = create_engine("mysql://feulo:123456@localhost/aula_sql")
eng_postgres = create_engine("postgresql://esyslokz:RJjtyfSp-yV-3RfvP1yTLyXyDeLMC7_p@kesavan.db.elephantsql.com/esyslokz")

In [ ]:
# abre uma conexão com o banco e executa código SQL
with eng.connect() as con:
  con.execute(text('DROP TABLE IF EXISTS Cars'))
  con.execute(text('''CREATE TABLE Cars(Id INTEGER PRIMARY KEY , 
                   Name TEXT, Price INTEGER)'''))

In [ ]:
# abre uma conexão com o banco e executa código SQL
with eng_postgres.connect() as con:
  con.execute(text('DROP TABLE IF EXISTS Cars'))
  con.execute(text('''CREATE TABLE Cars(Id INTEGER PRIMARY KEY , 
                   Name TEXT, Price INTEGER)'''))

In [ ]:
with eng.connect() as con:
  con.execute(text("INSERT INTO Cars(Id, Name, Price) VALUES (10, 'belina', 1500)"))

In [ ]:
data = [{ "Id": 1, "Name": "Audi", "Price": 52642 },
        { "Id": 2, "Name": "Mercedes", "Price": 57127 },
        { "Id": 3, "Name": "Skoda", "Price": 9000 },
        { "Id": 4, "Name": "Volvo", "Price": 29000 },
        { "Id": 5, "Name": "Bentley", "Price": 350000 },
        { "Id": 6, "Name": "Citroen", "Price": 21000 },
        { "Id": 7, "Name": "Hummer", "Price": 41400 },
        { "Id": 8, "Name": "Volkswagen", "Price": 21600 }
]
# Inserindo dados
#with eng_postgres.connect() as con:
con = eng_postgres.connect()
for line in data:
    con.execute(text("""INSERT INTO Cars(Id, Name, Price) VALUES(:Id, :Name, :Price)"""), **line)
con.close()

IntegrityError: ignored

In [ ]:
# Recebendo dados
with eng_postgres.connect() as con:
  rs = con.execute(text("SELECT * FROM Cars"))
  print(rs.fetchone())
  print(rs.fetchone())
  print(rs.fetchmany(2))
  print(rs.fetchone())
  print(rs.fetchall())

(10, 'belina', 1500)
(1, 'Audi', 52642)
[(2, 'Mercedes', 57127), (3, 'Skoda', 9000)]
(4, 'Volvo', 29000)
[(5, 'Bentley', 350000), (6, 'Citroen', 21000), (7, 'Hummer', 41400), (8, 'Volkswagen', 21600)]

### SQL Expression Language

#### Definição de Schemas

In [ ]:
from sqlalchemy import Table, Column, Integer, String, MetaData

In [ ]:
# Cria um ojeto de metadata. Metadatas são coleçoes de tabelas e sua infos
meta = MetaData()

In [ ]:
#Cria um objeto do tipo tabela que abstrai uma tabela no Banco de dados
cars = Table('Cars', meta,
     Column('Id', Integer, primary_key=True, autoincrement=True),
     Column('Name', String(25), nullable=False),
     Column('Price', Integer),
     extend_existing=True
)

In [ ]:
print("The Name column:")
print(cars.columns.Name)
print(cars.c.Name)

print("Columns: ")
for col in cars.c:
    print(col)
    
print("Primary keys:")
for pk in cars.primary_key:
    print(pk)    

print("The Id column:")
print(cars.c.Id.name)
print(cars.c.Id.type)
print(cars.c.Id.nullable)
print(cars.c.Id.primary_key)

The Name column:
Cars.Name
Cars.Name
Columns:
Cars.Id
Cars.Name
Cars.Price
Primary keys:
Cars.Id
The Id column:
Id
INTEGER
False
True

In [ ]:
meta.reflect(bind=eng_postgres)
for table in meta.tables:
    print(table)

Cars
treinadores
cars

In [ ]:
from sqlalchemy import inspect

In [ ]:
insp = inspect(eng_postgres)
print(insp.get_table_names())
print(insp.get_columns("cars"))
print(insp.get_pk_constraint("cars"))

['treinadores', 'Cars', 'cars']
[{'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'name', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'price', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}]
{'constrained_columns': ['id'], 'name': 'cars_pkey'}

In [ ]:
meta.tables

FacadeDict({'Cars': Table('Cars', MetaData(), Column('Id', Integer(), table=<Cars>, primary_key=True, nullable=False), Column('Name', String(length=25), table=<Cars>, nullable=False), Column('Price', Integer(), table=<Cars>), schema=None), 'treinadores': Table('treinadores', MetaData(), Column('id', INTEGER(), table=<treinadores>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f3efb318990>, for_update=False)), Column('nome', VARCHAR(length=20), table=<treinadores>, nullable=False), Column('cidade', VARCHAR(length=20), table=<treinadores>), schema=None), 'cars': Table('cars', MetaData(), Column('id', INTEGER(), table=<cars>, primary_key=True, nullable=False), Column('name', TEXT(), table=<cars>), Column('price', INTEGER(), table=<cars>), schema=None)})

In [ ]:
meta.create_all(eng_postgres)

#### Expression Language

In [ ]:
from sqlalchemy.sql import select

In [ ]:
#with eng_postgres.connect() as con:
#con = eng_postgres.connect()
#stm = cars.insert(values=[(11, 'Escort', 2000)])
#con.execute(stm)
#

In [ ]:
print(stm)

INSERT INTO "Cars" ("Id", "Name", "Price") VALUES (:Id_m0, :Name_m0, :Price_m0)

In [ ]:
# SELECT
with eng_postgres.connect() as con:
  stm = select([cars.c.Name])
  rs = con.execute(stm) 
  print(rs.fetchall())

[('Escort',)]

In [ ]:
print(stm)

SELECT "Cars"."Id", "Cars"."Name", "Cars"."Price"
FROM "Cars"

In [ ]:
# LIMIT
with eng_postgres.connect() as con:
  stm = select([cars.c.Name, cars.c.Price]).limit(3)
  rs = con.execute(stm) 
  print(rs.fetchall())

[('Escort', 2000)]

In [ ]:
print(stm)

SELECT "Cars"."Name", "Cars"."Price"
FROM "Cars"
 LIMIT :param_1

In [ ]:
from sqlalchemy.sql import and_, or_

In [ ]:
# WHERE
with eng_postgres.connect() as con:
  stm = select([cars]).where(and_(cars.c.Price > 10000, cars.c.Price < 40000))
  rs = con.execute(stm) 
  print(rs.fetchall())

[]

In [ ]:
print(stm)

SELECT "Cars"."Id", "Cars"."Name", "Cars"."Price", "Cars"."Fuel"
FROM "Cars"
WHERE "Cars"."Price" > :Price_1 AND "Cars"."Price" < :Price_2

In [ ]:
#LIKE
with eng_postgres.connect() as con:
  stm = select([cars]).where(cars.c.Name.like('E%'))
  rs = con.execute(stm) 
  print(rs.fetchall())

[(11, 'Escort', 2000)]

In [ ]:
from sqlalchemy.sql import asc, desc

In [ ]:
# Order By
with eng.connect() as con:  
  s = select([cars]).order_by(asc(cars.c.Price))
  rs = con.execute(s) 
  for row in rs:
    print(row['Id'], row['Name'], row['Price'])

11 Escort 2000

In [ ]:
# ler dos arquivos
with eng.connect() as con:
  authors = Table('Authors', meta, autoload=True)
  books = Table('Books', meta, autoload=True)
  stm = select([authors.join(books)])
  rs = con.execute(stm) 
  for row in rs:
    print(row['Name'], row['Title'])

### Object-Relational Mapping (ORM)

In [ ]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String
from sqlalchemy.orm import sessionmaker
from sqlalchemy.exc import IntegrityError

In [ ]:
# Classes Bases e Sessão
Base = declarative_base(bind=eng)
Session = sessionmaker(bind=eng)

In [ ]:
class Car(Base):
  __tablename__ = "Cars"

  id = Column('Id', Integer, primary_key=True, autoincrement=True)
  name = Column('Name', String, unique=True, index=True)  
  price = Column('Price', Integer, nullable=False)

  def __repr__(self):
    return f"<Car: {self.name}>"

  def acelera(self):
    print("Vrrrummmm")

In [ ]:
Base.metadata.create_all()        
ses = Session()

In [ ]:
audi = Car(name='Audi', price=52642)

In [ ]:
audi2 = Car(name='Audi', price=2000)

In [ ]:
audi.acelera()

Vrrrummmm

In [ ]:
try: 
  ses.add(audi2)
  ses.commit()
except IntegrityError:
  print("Ja existe um carro com esse nome")
  ses.rollback()

In [ ]:
audi.name

'Audi'

In [ ]:
try:
  with Session() as s:
    s.add_all([ 
      Car(name='Mercedes', price=57127),
      Car(name='Skoda', price=9000),
      Car(name='Volvo', price=29000),
      Car(name='Bentley', price=350000),
      Car(name='Citroen', price=21000),
      Car(name='Hummer', price=41400),
      Car(name='Volkswagen', price=21600)
    ])
    s.commit()
except Exception:
  print("Deu ruim!")

In [ ]:
# Fazendo a query
with Session() as s:
  rs = s.query(Car).all()
  for car in rs:
    print(car.name, car.price)

Audi 2000
Mercedes 57127
Skoda 9000
Volvo 29000
Bentley 350000
Citroen 21000
Hummer 41400
Volkswagen 21600

In [ ]:
with Session() as s:
  carros_caros = s.query(Car).filter(Car.price>25000).all()

In [ ]:
carros_caros[0].price = 100000

In [ ]:
mercedez = carros_caros[0]

In [ ]:
mercedez.price

100000

In [ ]:
try: 
  ses.add(mercedez)
  ses.commit()
except IntegrityError:
  print("Ja existe um carro com esse nome")
  ses.rollback()

In [ ]:
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

In [ ]:
class Author(Base):
  __tablename__ = "Authors"
 
  author_id = Column(Integer, primary_key=True, autoincrement=True)
  name = Column(String)  
  books = relationship("Book")

  def __init__(self, name):
    self.name = name

  def __repr__(self):
    return f"<Author: {self.name}>"

class Book(Base):
  __tablename__ = "Books"
 
  book_id = Column(Integer, primary_key=True, autoincrement=True)
  title = Column(String)      
  author_id = Column(Integer, ForeignKey("Authors.author_id"))    
  author = relationship("Author")

  def __init__(self, title, author_id):
    self.title = title
    self.author_id = author_id 

  def __repr__(self):
    return f"<Book: {self.title} - {self.author.name}>"

In [ ]:
Base.metadata.create_all()

In [ ]:
with Session() as s:
  s.add_all([ 
    Author('Jane Austen'),
    Author('Leo Tolstoy'),
    Author('Joseph Heller'),
    Author('Charles Dickens'),
    Book('Emma',1),
    Book('War and Peace',2),
    Book('Catch XII',3),
    Book('David Copperfield',4),
    Book('Good as Gold',3),
    Book('Anna Karenia',2)
  ])
  s.commit()

In [ ]:
with Session() as s:
  res = s.query(Author).all()
  print(res)

[<Author: Jane Austen>, <Author: Leo Tolstoy>, <Author: Joseph Heller>, <Author: Charles Dickens>]

In [ ]:
with Session() as s:
  res = s.query(Book).all()
  print(res)

[<Book: Emma - Jane Austen>, <Book: War and Peace - Leo Tolstoy>, <Book: Catch XII - Joseph Heller>, <Book: David Copperfield - Charles Dickens>, <Book: Good as Gold - Joseph Heller>, <Book: Anna Karenia - Leo Tolstoy>]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SAWarning: relationship 'Book.author' will copy column Authors.author_id to column Books.author_id, which conflicts with relationship(s): 'Author.books' (copies Authors.author_id to Books.author_id). If this is not the intention, consider if these relationships should be linked with back_populates, or if viewonly=True should be applied to one or more if they are read-only. For the less common case that foreign key constraints are partially overlapping, the orm.foreign() annotation can be used to isolate the columns that should be written towards.   The 'overlaps' parameter may be used to remove this warning.

In [ ]:
with Session() as s:
  res = s.query(Author).filter(Author.name=="Leo Tolstoy").first()
  print(res.name)
  for book in res.books:
    print (book.title)

Leo Tolstoy
War and Peace
Anna Karenia

In [ ]:
with Session() as s:
  res = s.query(Book).filter(Book.title=="Emma").first()
  print(res.author.name)

Jane Austen